html, body {margin: 0; height: 100%; overflow: hidden}
.navbar-fixed {position: absolute;z-index:999999999; }

#pleaserotate-graphic{fill: #fff;}
#pleaserotate-backdrop {color: #fff; background-color: #000;}

#video-teste {
  height:100vh;
  width: 100%;
  object-fit: cover;
}

.content-footer{
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.0);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
